*{
    box-sizing: border-box;
    padding: 0;
    margin: 0; 
  }

body{
    font-family: 'Microsoft JhengHei', sans-serif;
    padding-top: 100px;
    background-color: #efefef;
}

a{
   text-decoration: none; 
   color: #fff;
}

a:visited{
    color: white;
}

.nav{
    text-align: center;
    margin-top: 0;
    background-color: #980F5A;
    color: #fff;
    
    
}

.nav_li{
    display: inline-block;
    padding: 15px;
    color: #fff;
    
}

.nav_li i{
    width: 20px;
    box-sizing: border-box;
    text-align: right;
    margin-left: 5px;
}

.nav_li:hover >a{
    color: #bbb;
}

.nav_li:hover {
    color: #bbb;
}

.titulo {
    color: white;
    font-size: 40px;
    padding: 12px;
}

.hea{
    width: 100%;
    color: #fff;
    margin-top: -100px;
    position: absolute;
}

.contenido{
    display: grid;
    grid-template-columns: 75% 24.35%;
    grid-gap:10px;
}

.texto{
    padding: 40px;
    font-size: 20px;
    text-align: justify;
}

.indice{
  padding: 35px;
  background-color: #B4A5A5;
  color: #fff;
  font-family: 'Microsoft JhengHei', sans-serif;
  font-size: 15.5px;
}

.indiceUnidad1{
    padding: 35px;
    background-color: #B4A5A5;
    color: #fff;
    font-family: 'Microsoft JhengHei', sans-serif;
    font-size: 14.15px;
  }

.píe{
    float: right;
}

footer{
    background-color: #222;
    padding: 2rem;
    color: #fff;
    
}

footer section{
    float: right;
}

p img{
    width: 500px;
    border-radius: 3px;
}


.elbueno {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: center;
}

.elbueno article {
    width: calc(25% - 20px); /* Aproximadamente un tercio del ancho de la pantalla con margen de 20px */
    margin: 10px;
    box-sizing: border-box;
}

section article{
    font-family: 'Microsoft JhengHei', sans-serif;
    transition: box-shadow 0.3s ease;
    background-color: #fff;
    margin: 8px 0;
    border-radius: 4px;
    padding: 4px 0;
    cursor: pointer;
}

section article:hover{
    box-shadow:  0  0.1rem  0.4rem rgba(0,0,0,0.3);
}

section article a{
    text-decoration: none; 
    color: #160e27;
 }

section article a:visited{
    color: #160e27;
}